@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Redwing-M';
  src: url('../public/fonts/Redwing-Medium.otf') format('opentype');
  font-weight: normal;  
  font-style: normal;
}
@font-face {
  font-family: 'Redwing-L';
  src: url('../public/fonts/Redwing-Light.otf') format('opentype');
  font-weight: normal;  
  font-style: normal;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

::-webkit-scrollbar {
  width: 12px;           
  height: 12px;          
}

::-webkit-scrollbar-track {
  background: #1c1c1c;     
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #555;    
  border-radius: 10px;      
  border: 3px solid #1c1c1c; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;   
}


* {
  scrollbar-width: thin;                    
  scrollbar-color: #555 #1c1c1c;           
}
